{% assign datacamp = site.data.data.datacamp %}
{% if datacamp %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ datacamp.title }}
  </h2>

  {% if datacamp.intro %}
  <div class="intro">
    {{ datacamp.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  <div class="skillset">

    {% for course in datacamp.courses %}
    <div class="item">
        {{ course.title }}
        <div class="publication-conference">Issued {{ course.issued }}</div>
        {% if course.credential %}
        <div class="publication-conference"><a href="{{ course.credential }}" target="_blank">See credential</a></div>
        {% endif %}
      </div><!--//item-->
    {% endfor %}

  </div>

</section><!--//skills-section-->
{% endif %}
