{% assign moocs = site.data.data.moocs %}
{% if moocs %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ moocs.title }}
  </h2>

  {% if moocs.intro %}
  <div class="intro">
    {{ moocs.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for mooc in moocs.courseworks %}
  <div class="item">
    {% if mooc.link %}
      <li><a href="{{ mooc.link }}" target="_blank">{{ mooc.title }}</a></li>
    {% else %}
      <li>{{ mooc.title }}</li>
    {% endif %}
    <div class="publication-authors">{{ mooc.institution }}</div>
    <div class="publication-conference">
        {% if mooc.issued %}
        Issued {{ mooc.issued }}
        {% else %}
        {{ mooc.status }}
        {% endif %}
    </div>
    <div class="publication-conference"><a href="{{ mooc.credential }}" target="_blank">See credential</a></div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
