{% assign moocs = site.data.data.moocs %}
{% if moocs %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ moocs.title }}
  </h2>

  {% if moocs.intro %}
  <div class="intro">
    {{ moocs.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for mooc in moocs.courseworks %}
  <div class="item">
    {% if mooc.link %}
      <li><a href="{{ moc.link }}">{{ moc.title }}</a></li>
    {% else %}
      <li>{{ moc.title }}</li>
    {% endif %}
    <div class="publication-authors">{{ moc.institution }}</div>
    <div class="publication-conference">Issued {{ moc.issued }}</div>
    <div class="publication-conference">a href="{{ moc.credential }}">See credential</a></div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
